*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}

body{
	background-color: #EBEBEB;
}

.app{
	display: flex;
	position: relative;
}

.app .sidebar{
	width: 200px;
	height: 100%;
	background: #393B41;
	padding: 30px 0px;
	position: fixed;
}

.app .sidebar h2{
	color: #EBEBEB;
	text-transform: uppercase;
	margin: -15px 0 10px 0;
	padding: 0 0 0 20px;
	font-size: 2em;
	color: #A9F981;
}

.app .sidebar ul {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.app .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid #bdb8d7;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(255,255,255,0.05);
}    

.app .sidebar ul li.active a {
	color: #A9F981;
}

.app .sidebar ul li a{
	color: #E4E4E4;
	display: block;
}

.app .sidebar ul li a .fas{
	width: 25px;
}

.app .sidebar ul li:hover a{
	color: #A9F981;;
}

.app .main_content{
	margin-left: 200px;
	width: 100%;
}

.app .main_content .header{
	padding: 13px;
	background-color: #393B41;
	color: #E4E4E4;
	border-bottom: 1px solid #e0e4e8;

}

.app .main_content .header p{
	text-transform: uppercase;
	font-size: 2em;
	padding-left: 30px;
}

.grid_container {
	display: grid;
	grid-column-gap: 80px;
	grid-row-gap: 60px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 465px;
	padding: 30px 60px;
  }
  
  .grid_item {
	background-color: #ffffff;
	padding: 25px 20px;
	text-transform: uppercase;
	margin: 0;
	border-radius: 10px;
	box-shadow: 5px 5px 2px rgb(211, 211, 211);
  }

  .grid_item h1{
	color: #919191;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

  .grid_item h2{
	font-weight: lighter;
	color:#919191;
	opacity: 0.9;
	font-size: 1.1em;
	padding: 22px 0;
  }

  
  .test h2{
	text-align: center;
	color:#919191;
	font-size: 1.5em;
	padding: 45px 0;
	font-weight: lighter;
  }

  .grid_content{
	display: flex;
	flex-direction: column;
	padding:  0;
  }


  .btn_delete{
	  color: #fff;
	  font-size: 1.2em;
	  font-weight: 550;
	  text-align: center;
	  text-transform: uppercase;
	  background-color: #FF4760;
	  padding: 5px;
	  border-radius: 50px;
	  width: 70%;
	  margin: 10px auto;
  }

  .btn_save{
	color: #393B41;
	font-size: 1.2em;
	font-weight: 550;
	text-align: center;
	text-transform: uppercase;
	background-color: #A9F981;
	padding: 5px;
	border-radius: 50px;
	width: 70%;
	margin: 30px auto 10px auto;
}

  #presetname, #editorname, #language{
	  border: none;
	  background-color: #E4E4E4;
	  padding: 10px;
	  margin: 10px 0;
	  text-transform: uppercase;
  }



 




